body{
    font-family: Arial, Helvetica, sans-serif;

}

div a{
    padding: 15px;
}
#redes{
    display: flex;
    flex-direction: column;
}

#foto{
    width: 100%;
    border-radius: 35px;

}
#foto2{
    width: 100%;
    border-radius: 25px;
}
#foto3{
    width: 100%;
    border-radius: 25px;
}
#foto4{
    width: 100%;
    border-radius: 35px;

}

.principal{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, auto);
    gap: 25px;
}

.principal > div{
    background-color: lightblue;
    border-radius: 35px;
    border: black solid;
    text-align: center;
}

.imge{
    transition: all 1.8s;
}
.imge :hover{
    transform: scale(1.5);
}
.A{
    grid-column: span 10;
   
}

.B{
    grid-column: span 3;
    grid-row: span 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.C{
    grid-column: span 6;
    grid-row: span 4;
}

.D{
    grid-row: span 2;
}

.E{
    grid-row: span 2;
}

.F{
    grid-column: span 9;
}
.H{
    grid-column: span 10;
}

